<%- include('Header') %>
        <div class="page-wrapper">
            <h1 class="text-center mb-4 pt-4">Modify Product Content</h1>
            <div class="container-fluid">
                <div class="row justify-content-center ">
                    <div class="col-md-6">
                        <div class="card card-hover">
                        <div class="box bg-light">
                            <form class="p-4" action="/updateProduct" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label class="form-label">Title:</label>
                                    <input type="text" class="form-control" name="title" value="<%= single.title %>" required>
                                </div>
                            
                                <div class="mb-3">
                                    <label class="form-label">Description:</label>
                                    <textarea class="form-control" name="description" required><%= single.description %></textarea>
                                </div>
                            
                                <div class="mb-3">
                                    <label class="form-label">Price:</label>
                                    <input type="number" class="form-control" name="qty" value="<%= single.price %>" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Quantity :</label>
                                    <input type="number" class="form-control" name="qty" value="<%= single.qty %>" required>
                                </div>
                            
                                <div class="mb-3">
                                    <label class="form-label">Image:</label>
                                    <input type="file" class="form-control" name="image">
                                </div>
                            
                                <input type="hidden" name="editid" value="<%= single._id %>">
                                <button type="submit" class="btn btn-primary">Repost with Changes</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('Footer') %>
